<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string># Usage:
# todo [-fhpantvV] [-d todo_config] action [task_nr] [task_desc]
# Try 'todo -h' for more information.

TODOTXT_PATH='/opt/local/bin'

$TODOTXT_PATH/todotxt {query} |
while IFS= read -r line; do
  echo "$line"
done</string>
	<key>disabled</key>
	<false/>
	<key>escapedollar</key>
	<true/>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>todo</string>
	<key>logging</key>
	<false/>
	<key>multifileargs</key>
	<false/>
	<key>parameter</key>
	<integer>0</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Simple wrapper for Todo.txt (todotxt.com)</string>
	<key>title</key>
	<string>Todo.txt</string>
</dict>
</plist>
